/* 顶部固定定位 */
/* logo固定定位应该写在第一屏的外面 */
a{
    display: block;
}
.logo{
    position: fixed;
    top: 30px;
    left: 130px;
    z-index: 999;
    width: 180px;
}
.list{
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 1000;
}
.list li{
    float: left;
    margin: 10px;
}
/* 顶部固定定位 */

/* 左侧导航栏 */
#menu {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 500px;
    z-index: 70;
    width: 40px;
    padding: 0;
    margin: auto;
}
#menu li{
    width: 60px;
    height:60px;
    margin: 5px;
    border-radius: 50%;
    background: url(../images/swiper-nav-checked.7d2055c4.png)  no-repeat;
    background-size: cover;
    position: relative;
    
}
#menu li:hover{
  background: url(../images/swiper-nav-checked.7d2055c4.png) 50% no-repeat;
  background-size: cover;
}
#menu li span{
    width: 100%;
    height: 100%;
    display: block;
    background-color: #ccc;
}
#menu li a{
    color: transparent;
}
#menu li img{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* 左侧导航栏 */
.list{
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 1000;
}
.list li .music{
    animation: ani 4s linear infinite;
}
.list li{
    float: left;
    margin: 10px;
}
/* 右上角音乐栏 */
/* 第一屏开始 */
.section1{
    background: url(../images/page1/homepage.9b872906.jpg) 50% no-repeat;
    background-size: cover;
}
#section0 .menusec li{
    background: url(../images/page1/home-pagination.e2913348.png) center no-repeat;
    float: left;
    position: relative;
}
#section0 .menusec li span{
    display: block;
    width: 111px;
    height: 111px;
    position: relative;
}
#section0 .menusec{
    width: 1280px;
    position: fixed;
    bottom: 17%;
    left: 50%;
    margin-left: -640px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../images/page1/bg-line.45cde247.png) center no-repeat;
    /* background-color: #fff; */
}
#section0 .menusec li  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#section0  .second{
    margin-left: 120px;
    margin-right: 70px;;
}
#section0  .third{
    margin-left: 4px;
    margin-right: 70px;;
}
#section0  .forth{
    margin-left: 4px;
    margin-right: 0px;;
}
#section0  .fifth{
    margin-left: 74px;
    margin-right: 70px;;
}
#section0  .sixth{
    margin-left: 5px;
    margin-right: 0px;;
}
#section0  .seventh{
    margin-left: 75px;
    margin-right: 0px;
}
 .homepage-pagination-i {
    display: block;
    width: 111px;
    height: 111px;
    background: url(../images/page1/home-pagination-checked.fe0c5973.png) 50% no-repeat;
    transition: all .3s linear;
    transform: rotate(180deg);
    z-index: 0;
}
.section1 .mouse-down-box {
    background: url(../images/page1/mouse-down.78344a1d.png) top no-repeat;
    width: 295px;
    height: 70px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -147.5px;
}
.section1 .mouse-down-box .mouse-down-text {
    text-align: center;
    color: rgb(255, 255, 255,.8);
    font-size: 25px;
    font-family: KaiTi,楷体;
    margin-top: 50px;
}
/* 第一屏结束 */
/* 第二屏开始 */
.section2{
    background: url(../images/page2/role-big-bg-1.718d80b8.jpg) 50% no-repeat;
    background-size: cover
}
.section2 .page-title-box{
   width: 1200px;
   margin: 10px auto;
   margin-top: 30px;
   text-align: center;
}
.section2 .page2-title-text{
    font-size: 20px;
    color: #c0a575;
   margin-top: -22px;
}
.section2 .world-box{
    width: 1280px;
    height: 470px;
    /* background-color: #ccc; */
    margin:  auto;
}
.section2 .world-video-box{
    width: 360px;
    height: 440px;
    margin-left: 10px;
    margin-right: 50px;
    background: #097;
    float: left;
}
.section2 .box1{
    margin-top: 30px;
    position: relative;
    background:url(../images/page2/video-1-bg.4808fedf.jpg)
}

.section2 .box-vid{
    position: absolute;
    left: -90px;
    top: -60px;
}
.section2 .world-video-box .box-vid2{
    position: absolute;
    left: -15px;
    top: -30px;
}
.section2 .world-video-box .box-vid3{
    position: absolute;
    left: -25px;
    top: -30px;
}
.section2 .world-video-box .wvb{
    position: absolute;
    left: 140px;
    right: 0;
    bottom: 50px;
}
.section2 .world-video-box .wvt{
    position: absolute;
    left: 175px;
    right: 0;
    bottom: 80px;
}
/* 第二屏结束 */
/* 第三屏开始 */
.section3{
    background: url(../images/page3/school-big-bg/badao.c5b88451.jpg) 50% no-repeat;
    background-size: cover;
    transition: all 1s;
}
.section3 .page-title-box{
    width: 1200px;
    margin: 10px auto;
    margin-top: 50px;
    text-align: center;
 }
 .section3 .page2-title-text{
    font-size: 20px;
    color: #c0a575;
   margin-top: -22px;
}
.section3 .school-box{
    width: 1200px;
    height: 520px;
    /* background-color: #ccc; */
    margin: auto;
}

/* 轮播图部分开始 */
.swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: #097; */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background-color: #097; */
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
}

.school-box {
    width: 1200px;
    height: 520px;
    margin: 40px auto;
    /* background: #f00; */
    position: relative;
}

.swiper-container-horizontal>.swiper-pagination-progressbar {
    position: absolute;
    width: 500px;
    height: 4px;
    left: 0;
    right: 0;
    margin: auto;
    top: 466px;
}

.school-box .school-slide {
    width: 156px;
    height: 500px;
    float: left;
    /* background-color: #987; */
    margin-right: 15px;
    /* border: 2px solid #766; */
    position: relative;
}

.school-box .mr0 {
    margin-right: 0;
}

.school-box .school-logo-box {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 40px;
    border: 2px solid transparent;
    cursor: pointer;
}
.school-box .school-logo-img {
    position: relative;
    margin: 0 auto;
    width: 84px;
    height: 85px;
}

.school-box .school-logo {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 84px;
    height: 85px;
    z-index: 100;
    margin: 0 auto;
    
}
.school-box .school-logo-sta{
    display: block;
    width: 84px;
    height: 85px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url(../images/page3/school.2ba811ec.png);
}
.school-box .school-logo-active{
    background-image: url(../images/page3/school-active.f81805df.png);
    animation: ani  4s linear infinite;
}
@keyframes ani{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #665a3b;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform: scale(0);
}

.school-box img {
    cursor: pointer;
    border: 1px solid transparent;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    width: 63px;
    height: 63px;
    background-image: url(./image);
    left: 10px;
    right: auto;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 97px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./image);
}
/* 轮播图部分结束 */
/* 第三屏结束 */
/* 第四屏开始 */
.section4 .slide4{ 
    background: url(../images/page4/role-bg/role-4.0b9df437.jpg) 50% no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}
.section4 .slide42{ 
    background: url(../images/page4/video-big-bg.ba379651.jpg) 50% no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}
.section4 .page-title-box{
    width: 1200px;
    margin: 35px auto;
    margin-top: 50px;
    text-align: center;
 }
 .section4 .page2-title-text{
    font-size: 20px;
    color: #c0a575;
   margin-top: -22px;
}
.section4 .page4-role-box{
    width: 1200px;
    height: 480px;
    /* background-color: #ccc; */
    margin: auto;
}
.section4 .role-habitus-box{
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-right: 47px;
    cursor: pointer;
}
.section4 .role-habitus-box img{
    border: 2px solid transparent;
}
.section4 .page4-role-icon{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 39px;
    background: url(../images/page4/role/icon-1.64d01263.png) 80px no-repeat;
}
.section4 .bg-icon2{
    background: url(../images/page4/role/icon-2.7e4272b8.png) 80px no-repeat;
}
.section4 .bg-icon3{
    background: url(../images/page4/role/icon-3.31eb18f1.png) 80px no-repeat;
}
.section4 .bg-icon3{
    background: url(../images/page4/role/icon-4.634fe85b.png) 80px no-repeat;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent rgba(180, 153 ,106,.8);
}
/* 第四屏第二屏开始 */
.section4 .page-video-img{
    float: left;
    margin-right: 92px;
    position: relative;
}
.section4 .page-video-img p{
    text-align: center;
    color: #c4a87a;
    font-size: 30px;
    font-family: 新宋体;
    margin-top: 34px;
}
.section4 .page4-role-box {
    box-sizing: border-box;
    width: 1200px;
    height: 440px;
    margin:10px auto;
}
.section4  .cimg{
    margin-right: 0px!important;
}
.section4 .page4-role-box .page4-img{
    box-sizing: border-box;
    width: 1040px;
    height: 260px;
    margin: 10px auto;
    margin-top: 100px;
    /* background-color: #f00; */
}
.section4 .page-video-img img{
    position: relative;
    text-align: center;
    width: 470px;
    height: 260px;
    vertical-align: middle;
    border: 2px solid #b49c5d;
}
.section4 .video-play-btn{
    width: 84px;
    height: 85px;
    /* background-color: #f00; */
    position: absolute;
    left: 0;
    right: 0;
    top: -54px;
    bottom: 0;
    margin: auto;
}
.section4 .video-play-circle{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:  auto;
    width: 85px;
    height: 88px;
    background:url(../images/page4/video-play-circle.6eea13ea.png) 50% no-repeat;
}
.section4 .video-play-triangle{
    width: 85px;
    height: 88px;
    background: url(../images/page4/video-play-triangle.326b3c36.png) 36px no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}

/* 第四屏第二屏结束 */
/* 第四屏结束 */
/* 第五屏开始 */
.section5{
    background: url(../images/page5/bg.svg) ;
    overflow: hidden;
    position: relative;
}
.section5 .page5-content-box{
    width: 100%;
    height: 100%;
}
.section5 .page-title-box{
    width: 1200px;
    margin: 10px auto;
    margin-top: 90px;
    text-align: center;
 }
 .section5 .page2-title-text{
    font-size: 20px;
    color: #c0a575;
   margin-top: -22px;
}
.section5 .video-dodeg-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 134px;
    height:137px;
    cursor: pointer;
   
}
.section5 .video-dodeg-ring{
    background: url(../images/page5/video-ring.c996a1fa.png);
    animation: ani 6s linear infinite;
}
.section5 .video-dodeg-box .video-dodeg-center {
    background-image: url(../images/page5/video-center.209eaf8e.png);
    position: absolute;
    top: 0%;
    animation: ani 4s linear infinite;
}
.section5 .video-dodeg-box .video-dodeg-triangle {
    background-image: url(../images/page5/video-triangle.2e01e282.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* @keyframes rote{
    from{

    }
    to{

    }
} */
.section5 .video-dodeg-paly-btn-icon {
    /* position: absolute;
    left: 0;
    top: 0; */
    width: 134px;
    height: 137px;
    background-position: 50%;
    background-repeat: no-repeat;
}
/* 第五屏结束 */
/* 第六屏开始 */
.section6{
    background: url(../images/page6/bg-3.bbc0b0bc.jpg) 50% no-repeat;
    background-size: cover
}
.section6 .page-title-box{
    width: 1200px;
    margin: 10px auto;
    margin-top: 50px;
    text-align: center;
 }
 .section6 .page2-title-text{
    font-size: 20px;
    color: #c0a575;
   margin-top: -22px;
}
.section6 .page4-role-box{
    width: 1200px;
    height: 480px;
    /* background-color: #ccc; */
    margin:10px auto;
}
.section6 .role-habitus-box{
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-right: 46px;
    cursor: pointer;
}
.section6 .role-habitus-box img{
    border: 2px solid transparent;
}
.section6 .page6-homepage-method-nav-btn{
    width: 84px;
    height: 85px;
    text-align: center;
    line-height: 85px;
    color: #d9bc72;
    font-size: 20px;
    position: absolute;
    left: 50%;
    margin-left: -42px;
    top: 400px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url(../images/page6/nav-active.db089190.png);
    opacity: .8;
    font-family: 新宋体;
}
/* 第六屏结束 */
/* 第七屏开始 */
.section7 .slide7{
    background: url(../images/page7/game-content/game-bg/bg-bangpai.1b1fc241.jpg) 50% no-repeat;
    background-size: cover;
    position: relative;
}
.section7 .gather-box{
    width: 293px;
    height: 510px;
    /* background-color: #ccc; */
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}
.section7 .gather-box img{
    margin-bottom: 10px;
}
.section7 .page4-footer-box{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 10px;
    width: 1120px;
    height: 100px;
    text-align: center;
    background:url(../images/page4/nav-line.16cea1f4.png) 50%  no-repeat;
}
.section7 .page4-footer-butt{
    display: inline-block;
    width: 84px;
    height: 85px;
    background: url(../images/page4/btn.c205d52c.png) 50% no-repeat;
    opacity: .8;
    margin: 0 46px;
    bottom: 0;
    cursor: pointer;
    text-align: center;
    line-height: 85px;
    font-size: 20px;
    color: #d9bc72;
}
/* 第七屏第二屏开始 */
.section7 .slide72 {
    background: url(../images/page7/method-bg.183c3a60.jpg) 50% no-repeat;
    background-size: cover;
}
.section7 .gamemethod-colleagues-box{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    top: 16%;
    overflow: hidden;
    /* background-color: #ccc; */
}
.section7 .gamemethod-colleagues-title {
    float: left;
    width: 70px;
    text-align: center;
    margin-top: 30px;
    margin-right: 30px;
    font-size: 70px;
    font-family: 新宋体;
    color: #bda371;
}
.section7 .paly-method-grid-box-big {
    width: 544px;
    height: 500px;
    margin-left: 6px;
    /* background-color: #f00; */
    float: left;
}
.section7 .article-box{
    width: 100%;
    height: 100%;
    transition: all 1s;
    overflow: hidden;
    position: relative;
}
.section7  .paly-method-grid-box-big img:hover{
    transform: scale(1.1);
    transition: all 1s;
    cursor: pointer;
}
.section7 .method-introduce-text-box {
    width: 100%;
    height: 54px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    background-repeat: no-repeat;
    background-position: 20px;
    z-index: 20;
    background-image: url(../images/page7/method/icon-cosplay.f34b5ea9.png)
}
.section7 .method-box{
    width: 268px;
    height: 246px;
    float: left;
    overflow: hidden;
     position: relative;
}
.section7 .method-box-right1{
    background-image: url(../images/page7/method/icon-cartoon.766d54fb.png)
}
.section7 .method-box-right2{
    background-image: url(../images/page7/method/icon-video.bfc9bde9.png)
}
.section7 .method-box-right3{
    background-image: url(../images/page7/method/icon-music.df5b6dc9.png)
}
.section7 .method-box-right4{
    background-image: url(../images/page7/method/icon-handmade.d7edd440.png)
}
.section7 .box-right1,.section7 .box-right3{
    margin-right: 8px;
    position: relative;
}
.section7 .box-right1,.section7 .box-right2{
    margin-bottom: 10px;
    position: relative;
}
.section7 .method-introduce-text-box{
    width: 100%;
    height: 54px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    background-repeat: no-repeat;
    background-position: 20px;
    z-index: 20;
}
/* 第七屏第二屏结束 */
/* 第七屏结束 */
/* js单独定义类名 */
.trscale{
    transform: scale(1.1);
    transition: all 1s;
}
.traup{
    transform: translateY(-10px);
    transition: all 1s;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #d9bc72;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
