*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none!important;
}
a:link{
    text-decoration: none!important;
}
a:visited{
    text-decoration: none!important;
}
a:hover{
    text-decoration: none!important;
}
a:active{
    text-decoration: none!important;
}
ul,li{
    list-style: none;
}
img,input{
    vertical-align: middle;
}
input{
    border: 0 none;
    outline: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after{
    content:'';
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}
.clearfix{
    *zoom:1;
}
body{
    background: url('../images/bg-main.jpg') center;
}
.w{
    width: 1280px;
    margin:0 auto;
}
.head-top{
    width: 100%;
    height: 50px;
    background-color: black;
}
.head-top .logo{
    float: left;
    height: 50px;
    width: 500px;
    padding-left: 5px;
}
.head-top .logo a{
    float: left;
    width:80px;
    display: block;
    padding:8px;
}

.logo-font{ 
    float: left;
    width: 400px;
    height: 50px;
    background: url('../images/slogan.png') no-repeat center;
}
.head-top-nav a{
    float: left;
    color:#777;
    width: 80px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
}
.head-top-nav a:hover{
    color: #fff;
}
.nav{
    margin-top:85px;
    width: 100%;
    height: 110px;
    overflow: hidden;
}
.nav img{
    width: 305px;
    height: 65px;
    margin-top: 20px;
}
.nav .loogright{
    float: right;
}
.nav .loogright li{
    float: left;
    height: 35px;
    margin-top: 40px;
    margin-right: 20px;
}
.nav .loogright a{
   font-size: 20px;
    height: 35px;
    padding-left: 45px;
    color: #5a5965;
}
.nav .loogright a:hover{
    color:#659AA8;
}
.nav .loogright .line1{
    background: url('../images/icon-topnav.png') 0 0 no-repeat;
}
.nav .loogright .line2{
    padding-left: 20px;
    background: url('../images/icon-topnav.png') -113px 0 no-repeat;
}
.nav .loogright .line3{
    background: url('../images/icon-topnav.png') -235px 0 no-repeat;
}
.nav .loogright .line4{
    background: url('../images/icon-topnav.png') -340px 0 no-repeat;
}
.nav .loogright .line5{
    background: url('../images/icon-topnav.png') -448px 0 no-repeat;
}

.fixbox{
    float: left;
    width: 100%;
    height: 85px;
    background-color: #444;
    position: fixed;
    z-index: 99;
}
.fixbox>div{
    background: url('../images/bg-top-link.png') no-repeat 260px 20px;
    height: 85px;
}
.fixbox h1{
    display: inline-block;
    height: 85px;
}
.fixbox img{
    width: 180px;
    height: 85px;

}
.fixbox-r{
    float: right;
    display: block;
    width: 105px;
    height: 85px;
    line-height: 85px;
    text-align: center; 
    color: #fff;
    text-indent:-9999px;
}
/* 轮播图========================================== */
.swiper-container {
    width: 1200px;
    height:280px;
}

/* 中间导航======================================== */
.mid-nav{
    /* float: left; */
    /* width: 1280px; */
    height: 100px;
    background:url('../images/bg-bignav.png')no-repeat center;
    overflow: hidden;
    /* margin-left: 120px; */
}
.mid-nav ul{
    margin: 0 auto;
    height: 80px;
}
.mid-nav li{
    float: left;
    width: 220px;
    height: 80px;
    line-height: 100px;
    margin-right: 30px;
}
.mid-nav li:first-child{
    margin-left: 300px;
}
.mid-nav li a{
    float: left;
    display: block;
    width: 220px;
    height: 37px;
    margin-top: 33px;
}
.mid-nav .le{
    float: left;
    width: 26px;
    height: 37px;
    line-height: 37px;
    background: url('../images/icon-navtitle-lo.png')no-repeat center;
}
.mid-nav span{
    float: left;
    font-size: 25px;
    font-family: KaiTi;
    color: #fff;
    height: 37px;
    line-height: 37px;
    padding: 0px 20px;
    text-align: center;
    background: url('../images/bg-span-on.jpg') no-repeat center;
    background-size: cover;
}
.mid-nav .ri{
    float: left;
    width: 26px;
    height: 37px;
    background:url('../images/icon-navtitle-ro.png') no-repeat center;
}
/* <!-- live部分 --> ====================================*/
/* live左边的盒子 */
.livebox{
    position: relative;
    margin-bottom: 10px;
}
.live-left{
    float: left;
    width: 900px;
}
.live-lt{
    float: left;
    width: 900px;
    height: 60px;
}
.live-lt>div{
    display: inline-block;
    vertical-align: middle;
}
.lt-img{
    border-radius:50%; 
    width: 53px;
    height: 53px;
    border: 2px solid #f7cac7;
    overflow: hidden;
}
.lt-wenzi .title{
    color: #7b949a;
    font-size: 16px;
}
.lt-wenzi .wenzi-box{
    display: block;
}
.lt-wenzi .wenzi-box .hot{
    font-size: 14px;
    color: red;
    padding-left: 20px;
    background: url('../images/icon-fire.png') no-repeat left top;
}
.lt-wenzi .wenzi-box span{
    color: #7b949a;
    font-size: 14px;
}
/* 视频框 */
.live-left .live-box{
    float: left;
    width: 900px;
    height: 560px;

}

/* live 右边的盒子 */
.live-right{
    /* position: absolute; */
    float: right;
    display: block;
    right: 50px;
}
.live-right .live-r{
    display: block;
    width: 300px;
    text-align: center;
    margin-bottom: 18px;
    margin-top: 20px;
    background: url('../images/bg-ranktitle.png')no-repeat;
}
.live-right .live-r .live-r-btn{
    margin-bottom: 15px;
}
.live-right .live-r button{
    display: inline-block;
    font-size: 22px;
    color: #92979a;
    padding: 0 11px;
    cursor: pointer;
    background: none;
    border: 0;
    outline: none;
    vertical-align: middle;
}
.live-right .live-body{
    display: block;
    background:#fff;
    width: 300px;
    height: 535px;
    overflow: hidden;
    position: relative;
}
.live-right .live-body thead{
    color: #9ca7af;
    font-size: 14px;
    vertical-align: middle;
}
.live-right .live-body th{
    padding: 14px 0;
    width: 100px;
}
.live-right .live-body .rank{
    display: block;
    width: 300px;
    overflow: auto;
}
.live-right .live-body .rankL li{
    height: 100px;
} 
.live-right .live-body .rank-L{
    display: block;
    overflow: hidden;
    width:79px;    
    height: 55px;
   
    background-size: 51px;
    text-align: center;
    float: left;
}
.live-right .live-body .rank-L img{
    border: 2px solid orangered;
    width: 52px;
    height: 52px;
    
    border-radius: 50%;
}
.live-right .live-body .rank-C{
    width: 120px;
    float: left;
}
.live-right .live-body .rank-C .p1{
    font-size: 16px;
    float: left;
}
.live-right .live-body .rank-C .p2{
    font-size: 14px;
    color: #9ca7af;
   text-align: center;
}
.live-right .live-body .rank-R{
    font-size: 14px;
    width: 70px;
    color: #9ca7af;
    float: right;
}
.live-right .live-body .rank-R .rank-R-Bt{
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background: url('../images/icon-like.png')no-repeat 0 0;
}


.live-right .live-body .bottomtu{
    width: 260px;
    height: 26px;
    position: absolute;
    bottom: 0;
    left: 15px;
}

/* 直播推荐=========================================== */
.com-title{
    width: 100%;
    height: 50px;
    overflow: hidden;
}
.com-title .title-left{
    float: left;
    display: block;
    height: 25px;
    line-height: 25px;
    font-size: 24px;
    color: #596165;
    margin: 15px 0;
    overflow: hidden;
}
.com-title .title-left i{
    display: inline-block;
    width: 91px;
    height: 25px;
    vertical-align: middle;
    overflow: hidden;
}
.com-title .title-left i:first-child{
    background: url('../images/pic-title-l.png');
}
.com-title .title-left i:last-child{
    background: url('../images/pic-title-r.png')
}
.com-title .title-right{
    float: right;
    margin-top: 15px;
}
.com-title .title-right a{
    font-size: 16px;
    line-height: 18px;
    color: #6f7679;
    cursor: pointer;
}
.com-title .title-right i{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 4px;
    vertical-align: bottom;
    background: url('../images/icon-more.png');
}
.com-body{
    display: block;
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
}
.com-body ul{
    width: 1280px;
}
.com-body li{
    float: left;
    margin-right: 18px;
    margin-bottom: 17px;
    border:1px solid #efefef;
    box-shadow: 9px 9px 30px -24px #000;
    background: #fff;
    overflow: hidden;
}
.com-body .com-img{
    width: 300px;
    height: 160px;
    overflow: hidden;
     transition: all 1s;
}
.com-body .com-img:hover{
    transform:scale(1.1); 
}
.com-text{
    width: 272px;
    margin: 10px auto 17px;
}
.com-text .text-title{
    font-size: 16px;
    color: #000;
    width: 255px;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 5px;
    overflow: hidden;
}
.com-text .text-bottom{
    padding-bottom: 15px;
}
.com-text .text-bottom span{
    font-size: 12px;
    color: #666;
}

.com-text .text-bottom .text-bottoml{
    display: inline-block;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.com-text .text-bottom i{
    font-style: normal;
    display: inline-block;
    width: 80px;
    background: url('../images/icon-watch.png') no-repeat center right;
    padding-right: 27px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    overflow: hidden;
}
/* 直播网站================================================================ */
.bowang{
    margin-bottom: 100px;
}
.bowang li{
    float: left;
    height:90px;
    width: 190px;
    text-align: center;
    position: relative;
    margin-left: 10px;
}
.bowang li a{
    display: block;
    height: 85px;
    width: 190px;
}
.bowang li .bt1{
    background:url('../images/hu.png') no-repeat center;
}
.bowang li .bt2{
    background:url('../images/yu.png') no-repeat center;
}
.bowang li .bt3{
    background:url('../images/xiaomi.png') no-repeat center;
}
.bowang li .bt4{
    background:url('../images/xiongmao.png') no-repeat center;
}
/* 页面底部======================================================= */
.floot{
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color: #222;
}
.floot img{
    width: 1280px;
    text-align: center;
}

/* ---------------------------------------底部开始 */
.bottom {
    height: 220px;
    background-color: #222;
    font-size: 10px;
    color: #555;
}
.bottom .btw {
    padding-top: 20px;
    width: 850px;
    height: 100%;
    margin: 0 auto;
    /* background-color: #fff; */
}
.bottom .btwup {
    font-size: 12px;
    height: 40px;
    color: rgb(84, 93, 100);
}

.bottom .btw a {
    color: #555;
}

.bottom .btw .btwbt {
    margin-top: 10px;
}

.bottom .btw .btwbt img {
    margin-right: 5px;
}

.bottom .btw .btwbt span {
    color: #cc0e2b;
    padding: 0 2px;
}


/* 返回顶部 */
.backTop{
    display: block;
    position: fixed;
    width: 95px;
    height: 95px;
    right: 5px;
    bottom: 30px;
    background:url('../images/btn-rttop.png')no-repeat center;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    z-index: 10000;
}






