*{
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}
input {
	border: 0;
	outline: 0;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
body {
	font: 14px arial, 'microsoft yahei';
	color: #050505;
	background-color: #eee;
}
a {
	color: #050505;
}
a:hover {
	color: #00b4ff;
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
}